:host {
  display: block;
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 80px auto 20px;
  background: var(--color-blue);
  padding: 20px;
  border: 5px solid var(--color-black);
  box-shadow: var(--shadow);
}

h1 {
  text-align: center;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}

.note-item {
  background: var(--color-white);
  padding: 15px;
  margin: 6px;
  border-radius: 4px;
  border: 3px solid var(--border);
  box-shadow: var(--shadow);
}

.note-item h2 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: var(--color-black);
}

.note-item p {
  margin: 0;
  color: var(--color-black);
}

.note-item small {
  font-size: 12px;
  color: gray;
}

:host(.dark-mode) .container {
  background: var(--color-cyan);
}

:host(.dark-mode) h1 {
  color: var(--color-white);
}

:host(.dark-mode) .note-item {
  background: var(--color-grey);
}

:host(.dark-mode) .note-item h2,
:host(.dark-mode) .note-item p,
:host(.dark-mode) .note-item small {
  color: var(--color-white);
}

@media (max-width: 425px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  ul {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .note-item {
    padding: 10px;
    font-size: 0.9em;
  }
}
